/* Font and colors */

body {
  background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,50, 0.3) 60%);
  font-family: 'Open Sans', sans-serif;
  color: rdb(10, 10, 10);
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: rgba(0,0,0,.60);
}

h1 {
  color: rgba(0,0,0,.8)
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.44);
  font-size: 12px;
}

a:hover {
  text-decoration: none;
  color: rgba(0,0,0,.64)
}

table {
  border-collapse: collapse;
}
tr {
  border-bottom: solid 1px rgba(0,0,0,0.07)
}

tr:last-child {
  border-bottom: none;
}
/* Class and IDs */

#sidebar {
  background-color: #384047;
  position: fixed;
  width: 105px;
  left: 0;
  top: 0;
  bottom: 0;
}
#page-content {
  margin-left: 105px;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 10px auto; /* This automatically sets left/right margins */
}

.card {
  background: white;
  padding: 25px 80px 10px 80px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.card-posts {
  background: white;
  padding: 10px 30px 15px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
  line-height: 22px;
}

.posts-padding {
  padding: 25px 20px 25px 0;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.list-remove-bullets {
  list-style-type: none;
  padding: 0px;
}

.top-bottom-padding li {
  padding: 20px 0 20px 0;
}

.sidebar-elements a {
  color: rgb(156, 164, 171);
  font-size: 25px;
  padding: 120px, 0, 20px, 0;
}

.fa {
  font-size: 25px;
}

.list-inline {
  list-style-type: none;
  padding: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

#squared-picture {
  width: 150px;
  height: auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
